.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .main {
    margin-top: 50px;
  }
}

@media screen and (min-width: 1000px) {
  .main {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1600px) {
  .main {
    margin-top: 100px;
  }
}
