.main {
  margin: 35px;
}

.username {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.username h1 {
  font-weight: bolder;
  margin-bottom: 15px;
  color: green;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.avatar {
  width: 50vw;
  border-style: inset;
  margin-bottom: 60px;
}

.row {
  font-size: 22px;
  display: flex;
  justify-content: left;
  margin-bottom: 30px;
  width: 70vw;
}

.prop {
  margin-right: 20px;
}

.buttons {
  margin-top: 15px;
}

@media screen and (min-width: 768px) {
  .main {
    margin: 50px;
  }

  .username h1 {
    font-weight: bolder;
    margin-bottom: 45px;
    color: green;
  }

  .avatar {
    width: 20vw;
    border-style: inset;
    margin-bottom: 60px;
  }

  .buttons {
    margin-top: 105px;
  }
}

@media screen and (min-width: 768px) {
  .main {
    margin: 20px;
  }

  .username h1 {
    font-weight: bolder;
    margin-bottom: 15px;
    color: green;
  }

  .avatar {
    width: 8vw;
    border-style: inset;
    margin-bottom: 60px;
  }

  .buttons {
    margin-top: 25px;
  }

  .row {
    font-size: 22px;
    display: flex;
    justify-content: left;
    margin-bottom: 30px;
    width: 40vw;
  }
}
