<div class="main">
  <ng-container *ngIf="hasAccount">
    <div class="username">
      <h1>{{ userName }}</h1>
    </div>
    <div class="info">
      <img [src]="client.avatar" class="avatar">
      <div class="row">
        <mat-icon class="prop">attach_email</mat-icon>
        <span class="value">{{ client.email }}</span>
      </div>
      <div class="row">
        <mat-icon class="prop">description</mat-icon>
        <span class="value">{{ client.description }}</span>
      </div>
      <div class="buttons">
        <button (click)="onClickEdit()" style="margin-right: 10px;" color="primary" mat-raised-button>
          Edit
        </button>
        <button (click)="onClickDelete()" style="margin-right: 10px;" color="accent" mat-raised-button>
          Delete
        </button>
        <button (click)="onClickLogOut()" color="warn" mat-raised-button>
          Log Out!
        </button>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!hasAccount">
    <div class="center">
      <h2>You do not own 'Client's account'</h2>
      <h3 (click)="onClickCreate()">Let's create it now!</h3>
      <button (click)="onClickLogOut()" color="warn" mat-raised-button>
        Log Out!
      </button>
    </div>
  </ng-container>
</div>
