.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: linear-gradient(to right, rgb(131, 96, 195), rgb(46, 191, 145));
  height: 8em;
}

.brand {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 7em;
  letter-spacing: 0.25em;
  font-size: large;
  font-weight: 500;
  color: white;
}

.link {
  cursor: pointer;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 6em;
  color: #071e3d;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00e0ff;
  padding: 1em 1em 1em 1em;
  border-radius: 50%;
  position: absolute;
  font-weight: 800;
}

.button:hover {
  cursor: pointer;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.outer-outlet {
  padding-top: 9em;
}

