<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/']">Home</a>
      <a mat-list-item [routerLink]="['/overview']">Overview</a>
      <a mat-list-item [routerLink]="['/add']">New offer</a>
      <a *ngIf="!isLogged" mat-list-item [routerLink]="['/login']">Login</a>
      <a *ngIf="isLogged" mat-list-item>Hello {{ username }}!</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background-image: linear-gradient(to right, rgb(168, 255, 120), rgb(120, 255, 214));">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span [routerLink]="['/']">CarShowroomApp</span>
      <div class="menu-links" *ngIf="!(isHandset$ | async)">
        <a [routerLink]="['/']">Home</a>
        <a [routerLink]="['/overview']">Overview</a>
        <a [routerLink]="['/add']">New offer</a>
      </div>
      <span style="width: 100%;"></span>
      <div class="menu-links" *ngIf="!(isHandset$ | async)">
        <a *ngIf="!isLogged" [routerLink]="['/login']">Login</a>
        <a *ngIf="isLogged">Hello {{ username }}!</a>
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
