.add-car-main {
  margin-top: 3em;
  margin-left: 4em;
  margin-right: 4em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.car-form {
  display: flex;
  flex-direction: column;
  background-color: #a6acec;
  margin-right: 2em;
  width: 39em;
  border-radius: 15px;
  margin-left: 0px;
  padding: 1em 1em 1em 1em;
}

.car-preview {
  display: flex;
  flex-direction: column;
  background-color: #a56cc1;
  margin-left: 2em;
  width: 39em;
  border-radius: 15px;
}

.overview-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 3em 0em 5em 3em;
  justify-content: left;
}

.overview-container-image-size {
  background-color: #4bc2c5;
  margin-right: 3em;
  margin-bottom: 3em;
  padding: 1em 1em 1em 1em;
  width: 18em;
  height: 30em;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  transition: 0.5s;
}

.overview-image-size {
  width: 16em;
  max-height: 11em;
  margin-bottom: 0.5em;
}

