.mainNot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.mainNot h2 {
  cursor: pointer;
  font-weight: bolder;
  color: springgreen;
}

.userChoice {
  display: flex;
  flex-direction: row;
}

.userChoice p {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-right: 25px;
  margin-left: 15px;
}

.userChoice button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-button {
  margin: 0 0 0 15px;
  background-color: #17b978;
  height: 40px;
  width: 40px;
}

.disabled {
  background-color: grey;
  cursor: default;
}

.chat-window {
  overflow: scroll;
  height: 63vh;
  max-height: 63vh;
  display: flex;
  flex-direction: column;
  border: 4px inset #17b978;
}

.messages {
  margin: 15px 15px 0 15px;
}

.message {
  display: flex;
  margin: 0 0 15px 0;
  padding: 3px 3px 3px 5px;
}

.message p {
  margin: 0 0 0 0;
}

.textbox {
  width: 80vw;
  height: 5vh;
}

.send-button {
  width: 17vw;
  height: 6vh;
}

.time {
  float: right;
}

@media screen and (min-width: 1000px) {
  .chat-window {
    overflow: scroll;
    height: 63vh;
    max-height: 63vh;
    width: 60vw;
    max-width: 60vw;
    display: flex;
    flex-direction: column;
    border: 4px inset #17b978;
  }

  .mainChat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .textbox {
    width: 50vw;
    height: 5vh;
  }

  .send-button {
    width: 10vw;
    height: 6vh;
  }

  .time {
    float: right;
  }
}
