<ng-container *ngIf="!isLogged">
  <div class="mainNot">
    <img style="height: 120px; margin-bottom: 30px;" src="https://cdn2.iconfinder.com/data/icons/web-application-3/100/app_application_web_software_settings_notifications_-06-512.png">
    <h1>You must be logged in to chat!</h1>
    <h2 [routerLink]="['/login']">Log in to continue...</h2>
  </div>
</ng-container>
<ng-container *ngIf="isLogged">
  <div class="main">
    <div class="userChoice">
      <p style="font-size: large; font-weight: bolder;">Chat with: </p>
      <mat-form-field>
        <input type="text"
           placeholder="Pick one"
           aria-label="Number"
           matInput
           [formControl]="recipientControl"
           [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button (click)="startChat()" [disabled]="recipientControl.invalid" [ngClass]="{'disabled': recipientControl.invalid}" mat-fab class="edit-button">
        <mat-icon>check</mat-icon>
      </button>
    </div>
  </div>
  <ng-container *ngIf="clicked">
    <div class="mainChat">
      <div id="chat-window" class="chat-window">
        <div id="messages" class="messages">
          <div *ngFor="let message of messages; index as i" [ngStyle]="{'background-color': message.senderId === userId ? '#e0ebeb' : '#d6f5d6' }" class="message">
            <div class="usernametext">
              <p style="margin-bottom: 5px;">
                <b>
                  {{ message.senderName }}
                </b>
              </p>
              <p>
                {{ message.text }}
              </p>
            </div>
            <span style="width: 100%;"></span>
            <div class="time">
              <p>
                {{ message.sent.substr(0, 10) }} {{ message.sent.substr(11, 5) }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="input">
        <input id="text" type="text" class="textbox"
          [formControl]="textControl"
        >
        <button (click)="sendMessage()" class="send-button">Send</button>
      </div>
    </div>
  </ng-container>
</ng-container>
