.upper-section h2 {
  padding: 15px 15px 15px;
  display: flex;
  justify-content: center;
}

.lower-section {
  display: flex;
  justify-content: center;
}

.cars-list {
  display: flex;
  flex-direction: column;
  max-width: 920px;
}

.cars-list::after {
  content: '';
  flex: auto;
}

.car-item {
  height: 420px;
  width: 270px;
  background-color: #b6fa9c;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  transition: transform .3s, box-shadow .3s;
  cursor: pointer;
}

.car-item:hover {
  transform: scale(1.04);
  box-shadow: 5px 5px 15px rgb(133, 133, 133);
}

.avatar img {
  width: 270px;
}

.details {
  padding: 10px 25px 0;
}

.pages {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons button {
  margin: 0px 7px 30px;
}

@media screen and (min-width: 628px) {
  .cars-list {
    margin-left: 35px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 610px;
  }

  .car-item {
    height: 420px;
    width: 270px;
    background-color: #b6fa9c;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    margin-right: 35px;
    transition: transform .3s, box-shadow .3s;
  }
}

@media screen and (min-width: 1000px) {
  .cars-list {
    margin-left: 35px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 915px;
  }
}

@media screen and (min-width: 1600px) {
  .cars-list {
    margin-left: 35px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1220px;
  }
}
