.edit-button {
  margin: 0 0 0 15px;
  background-color: #17b978;
}

.buttons {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.disabled {
  background-color: grey;
  cursor: default;
}
