<form [formGroup]="userForm">
  <div class="upper-section">
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Username</mat-label>
        <input formControlName="userName" matInput>
        <mat-icon matSuffix>perm_identity</mat-icon>
        <mat-hint>Enter an username</mat-hint>
        <mat-error *ngIf="hasError('userName', 'required')">Username is required</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="standard">
        <mat-label>Password</mat-label>
        <input formControlName="userName" matInput>
        <mat-icon matSuffix>lock</mat-icon>
        <mat-hint>Enter an username</mat-hint>
        <mat-error *ngIf="hasError('password', 'required')">Password is required</mat-error>
      </mat-form-field>
    </p>
  </div>
</form>
<div class="buttons">
  <button [routerLink]="['/overview']" mat-fab color="warn">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <button (click)="onSubmit()" [disabled]="userForm.invalid" [ngClass]="{'disabled': userForm.invalid}" mat-fab class="edit-button">
    <mat-icon>check</mat-icon>
  </button>
</div>
