.details {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4vh;
}

.details-panel {
  display: flex;
  flex-direction: column;
  height: 69vh;
  align-items: center;
  background-color: #4bc2c5;
  width: 50vw;
  border-radius: 50px;
}

.upper-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2vh;
}

.description {
  margin-top: 15px;
}

.photo {
}
